<div id="disqus_thread">

</div>
<link rel="stylesheet" href="https://unpkg.com/gitalk@latest/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<script type="text/javascript">
  var gitalk = new Gitalk({
    clientID: '6a72bc4c1d5678eaf633',
    clientSecret: 'e34e7d9a51bb95c9b86a97fd7076741a1490f195',
    repo: 'jifengchao',
    owner: 'jifengchao',
    admin: ['jifengchao'],
    id: 'Block',
    distractionFreeMode: true
  });
  gitalk.render('gitalk-container');
</script>
