<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    id: 'ios-haha', // 可选。默认为 location.href
    title: 'ids',
    owner: 'jifengchao',
    repo: 'jifengchao.github.io',
    oauth: {
      client_id: '6a72bc4c1d5678eaf633',
      client_secret: 'e34e7d9a51bb95c9b86a97fd7076741a1490f195',
    },
  })
  gitment.render('gitmentContainer')
</script>